<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.chieffly.meetroom">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Alpha Meeting Planner"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:name = "ru.chieffly.meetroom.App"
            android:theme="@style/AppTheme">
        <activity
                android:name="ru.chieffly.meetroom.view.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="ru.chieffly.meetroom.view.login.LoginActivity"
                  android:windowSoftInputMode="adjustResize|stateHidden"
        />
        <activity android:name="ru.chieffly.meetroom.view.roomlist.RoomlistActivity"/>
        <activity android:name="ru.chieffly.meetroom.view.details.DetailsActivity"/>
        <activity android:name="ru.chieffly.meetroom.view.reserve.ReserveActivity"/>

        <receiver
                android:name=".utils.AlarmReceiver"
                android:enabled="true" />

        <service
                android:name=".utils.NotificationService"
                android:enabled="true" />
    </application>
</manifest>

